name: Ruby Conformance CI
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

# Declare default permissions as read only.
permissions: read-all

jobs:
  conformance:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: ["2.6", "2.7", "3.0", "3.1", "3.2"]
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@128a63446a954579617e875aaab7d2978154e969 # v2.4.0
      with:
        disable-sudo: true
        egress-policy: block
        allowed-endpoints: >
          api.github.com:443
          github.com:443
          index.rubygems.org:443
          objects.githubusercontent.com:443
          proxy.golang.org:443
          rubygems.org:443
          storage.googleapis.com:443

    - name: Checkout code
      uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
    - name: Setup Go
      uses: actions/setup-go@fac708d6674e30b6ba41289acaab6d4b75aa0753 # v4.0.1
      with:
        go-version: '1.17'
        check-latest: true
    - name: Setup Ruby
      uses: ruby/setup-ruby@8a45918450651f5e4784b6031db26f4b9f76b251 # v1.150.0
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Run HTTP conformance tests
      uses: GoogleCloudPlatform/functions-framework-conformance/action@2f5f319c06a3531be7f75dc5acf6bd00417ff76e # v1.8.2
      with:
        functionType: 'http'
        useBuildpacks: false
        cmd: "'bundle exec functions-framework-ruby --source test/conformance/app.rb --target http_func --signature-type http'"
    - name: Run Typed conformance tests
      uses: GoogleCloudPlatform/functions-framework-conformance/action@2f5f319c06a3531be7f75dc5acf6bd00417ff76e # v1.8.2
      with:
        functionType: 'http'
        declarativeType: 'typed'
        useBuildpacks: false
        validateConcurrency: true
        cmd: "'bundle exec functions-framework-ruby --source test/conformance/app.rb --target typed_func --signature-type http'"
    - name: Run CloudEvent conformance tests
      uses: GoogleCloudPlatform/functions-framework-conformance/action@2f5f319c06a3531be7f75dc5acf6bd00417ff76e # v1.8.2
      with:
        functionType: 'cloudevent'
        useBuildpacks: false
        validateMapping: true
        cmd: "'bundle exec functions-framework-ruby --source test/conformance/app.rb --target cloudevent_func --signature-type cloudevent'"
    - name: Run HTTP concurrency tests
      uses: GoogleCloudPlatform/functions-framework-conformance/action@2f5f319c06a3531be7f75dc5acf6bd00417ff76e # v1.8.2
      with:
        functionType: 'http'
        useBuildpacks: false
        validateConcurrency: true
        cmd: "'bundle exec functions-framework-ruby --source test/conformance/app.rb --target concurrent_http_func --signature-type http'"
    