name: Ruby Unit CI
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:
permissions:
  contents: read

jobs:
  unit-test:
    if: ${{ github.repository == 'GoogleCloudPlatform/functions-framework-ruby' }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            ruby: "2.6"
            flags: "--only --test-unit"
          - os: ubuntu-latest
            ruby: "2.7"
            flags: "--only --test-unit"
          - os: ubuntu-latest
            ruby: "3.0"
            flags: "--only --test-unit"
          - os: ubuntu-latest
            ruby: "3.1"
            flags: "--only --test-unit"
          - os: ubuntu-latest
            ruby: jruby
            flags: "--only --test-unit"
          - os: ubuntu-latest
            ruby: truffleruby
            flags: "--only --test-unit"
          - os: macos-latest
            ruby: "3.0"
            flags: "--only --test-unit"
          - os: windows-latest
            ruby: "3.0"
            flags: "--only --test-unit"
          - os: ubuntu-latest
            ruby: "3.0"
            flags: "--only --test-yardoc --test-build --test-examples"
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@18bf8ad2ca49c14cbb28b91346d626ccfb00c518 # v2.1.0
      with:
        egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

    - name: Checkout repo
      uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3.3.0
    - name: Install Ruby ${{ matrix.ruby }}
      uses: ruby/setup-ruby@4d060a10e6d98429c69057f0aafbc65fb982bae8 # v1.137.0
      with:
        ruby-version: "${{ matrix.ruby }}"
        bundler-cache: true
    - name: Install toys
      run: gem install --no-document toys
    - name: Test ${{ matrix.flags }}
      shell: bash
      run: toys ci ${{ matrix.flags }}
